
<%= form_for(friend) do |f| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="form-horizontal">
  <fieldset>

    <div class="field form-group">
      <%= f.label :name, class: "control-label col-md-2", for: "focusedInput" %>
      <%= f.text_field :name, class: "control-label" %>
    </div>


    <div class="field form-group">
      <%= f.label :code, class: "control-label col-md-2" %>
      <%= f.text_field :code, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :link, class: "control-label col-md-2" %>
      <%= f.text_field :link, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :aka, class: "control-label col-md-2" %>
      <%= f.text_field :aka, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :vip, class: "control-label col-md-2" %>
      <%= f.check_box :vip, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :fps, class: "control-label col-md-2" %>
      <%= f.text_field :fps, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :floors, class: "control-label col-md-2" %>
      <%= f.number_field :floors, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :daily, class: "control-label col-md-2" %>
      <%= f.check_box :daily, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :active, class: "control-label col-md-2" %>
      <%= f.text_field :active, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :rebuild, class: "control-label col-md-2" %>
      <%= f.number_field :rebuild, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :requests, class: "control-label col-md-2" %>
      <%= f.text_field :requests, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :time, class: "control-label col-md-2" %>
      <%= f.datetime_select :time, class: "control-label" %>
    </div>

    <div class="field form-group">
      <%= f.label :notes, class: "control-label col-md-2" %>
      <%= f.text_area :notes, class: "control-label" %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Add Friend Profile", class: "btn btn-success" %>
    </div>

  </fieldset>
</form>

<% end %>
