<p id="notice"><%= notice %></p>

<h1>Friends</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Link</th>
      <th>Aka</th>
      <th>Vip</th>
      <th>Fps</th>
      <th>Floors</th>
      <th>Daily</th>
      <th>Active</th>
      <th>Rebuild</th>
      <th>Requests</th>
      <th>Time</th>
      <th>Notes</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= friend.code %></td>
        <td><%= friend.link %></td>
        <td><%= friend.aka %></td>
        <td><%= friend.vip %></td>
        <td><%= friend.fps %></td>
        <td><%= friend.floors %></td>
        <td><%= friend.daily %></td>
        <td><%= friend.active %></td>
        <td><%= friend.rebuild %></td>
        <td><%= friend.requests %></td>
        <td><%= friend.time %></td>
        <td><%= friend.notes %></td>
        
        <td><%= link_to 'Show', friend %></td>
        <td><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default"><%= link_to 'New Friend', new_friend_path %></button>
