<div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @friend.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= @friend.code %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= @friend.link %>
  </p>

  <p>
    <strong>Aka:</strong>
    <%= @friend.aka %>
  </p>

  <p>
    <strong>Vip:</strong>
    <%= @friend.vip %>
  </p>

  <p>
    <strong>Fps:</strong>
    <%= @friend.fps %>
  </p>

  <p>
    <strong>Floors:</strong>
    <%= @friend.floors %>
  </p>

  <p>
    <strong>Daily:</strong>
    <%= @friend.daily %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @friend.active %>
  </p>

  <p>
    <strong>Rebuild:</strong>
    <%= @friend.rebuild %>
  </p>

  <p>
    <strong>Requests:</strong>
    <%= @friend.requests %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @friend.time %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @friend.notes %>
  </p>

  <%= link_to 'Edit', edit_friend_path(@friend) %> |
  <%= link_to 'Back', friends_path %>

</div>
